@use "@angular/material" as mat;

$primary-palette: (
  50: #e7ebf0,
  100: #c4cdd9,
  200: #9cabc0,
  300: #7489a7,
  400: #577094,
  500: #395781,
  600: #334f79,
  700: #2c466e,
  800: #243c64,
  900: #172c51,
  A100: #8eb2ff,
  A200: #5b90ff,
  A400: #286dff,
  A700: #0e5cff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #eef1f4,
  100: #d6dce5,
  200: #bac5d3,
  300: #9eadc1,
  400: #8a9cb4,
  500: #758aa7,
  600: #6d829f,
  700: #627796,
  800: #586d8c,
  900: #455a7c,
  A100: #d6e5ff,
  A200: #a3c6ff,
  A400: #70a6ff,
  A700: #5796ff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette: mat.define-palette(mat.$red-palette);
