@use "sass:map";
@use "@angular/material" as mat;

@import "./variables";

@mixin app-sidenav($theme) {
  // Extract the palettes you need from the theme definition.
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  $color-primary: mat.get-color-from-palette($primary-palette);
  $color-primary-contrast: mat.get-color-from-palette($primary-palette,
    "500-contrast"
  );
  $color-accent: mat.get-color-from-palette($accent-palette);
  $color-accent-contrast: mat.get-color-from-palette($accent-palette,
    "500-contrast"
  );
  $color-warn: mat.get-color-from-palette($warn-palette);
  $color-warn-contrast: mat.get-color-from-palette($warn-palette,
    "500-contrast"
  );

  mat-sidenav-container {
    height: 100%;
  }

  mat-sidenav-content {
    top: $toolbar-height;
    height: calc(100vh - #{$toolbar-height}) !important;

    .container {
      padding: $main-content-padding;
    }
  }

  mat-sidenav {
    width: #{$sidenav-width};
    padding-top: $toolbar-height;
    padding-bottom: 8px;

    .sidenav {
      height: 100%;
      display: flex;
      flex-direction: column;

      .navigation-items {
        .navigation-item {
          color: mat.get-color-from-palette($accent-palette, constrast);
          height: $sidenav-navigation-item-height;
          border-left: $menu-list-item-border-size solid transparent;
          padding-left: 0;
          padding-right: 0;

          .mdc-list-item__content {
            padding: 0;
            margin: 0;
            height: 100%;
          }

          a {
            &.navigation-item-link {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;

              .mat-icon {
                margin: 0 10px 0 10px;
                font-size: 1.5rem;
                height: 1.5rem;
                width: 1.5rem;
              }
            }
          }

          &.active {
            border-left: $menu-list-item-border-size solid $color-primary !important;
            background: rgba(0, 0, 0, 0.04);
          }

          &:hover {
            &:not(.active) {
              border-left: $menu-list-item-border-size solid $color-accent !important;
            }
          }
        }
      }
    }
  }
}
