@use "@angular/material" as mat;

$primary-palette: (
  50: #e7ebf0,
  100: #c4cdd9,
  200: #9cabc0,
  300: #7489a7,
  400: #577094,
  500: #395781,
  600: #334f79,
  700: #2c466e,
  800: #243c64,
  900: #172c51,
  A100: #8eb2ff,
  A200: #5b90ff,
  A400: #286dff,
  A700: #0e5cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #eef1f4,
  100: #d6dce5,
  200: #bac5d3,
  300: #9eadc1,
  400: #8a9cb4,
  500: #758aa7,
  600: #6d829f,
  700: #627796,
  800: #586d8c,
  900: #455a7c,
  A100: #d6e5ff,
  A200: #a3c6ff,
  A400: #70a6ff,
  A700: #5796ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$typography-config: mat.define-legacy-typography-config(
  $font-family: "Lato, Roboto, Helvetica Neue, sans-serif",
  $body-2: mat.define-typography-level(14px, 24px, 700),
);

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($typography-config);`
@include mat.all-legacy-component-typographies($typography-config);
@include mat.legacy-core();

$warn-palette: mat.define-palette(mat.$red-palette);

// Define a light theme
$light-primary-palette: mat.define-palette($primary-palette);
$light-accent-palette: mat.define-palette($accent-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary-palette,
      accent: $light-accent-palette,
      warn: $warn-palette,
    ),
  )
);

// Define a dark theme
$dark-primary-palette: mat.define-palette($primary-palette);
$dark-accent-palette: mat.define-palette($accent-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-palette,
      accent: $dark-accent-palette,
      warn: $warn-palette,
    ),
  )
);
