@use "@angular/material" as mat;

$typography-config: mat.define-typography-config(
  $font-family: "Nunito, Roboto, Helvetica Neue, sans-serif",
);

@include mat.core($typography-config);

$warn-palette: mat.define-palette(mat.$red-palette);

// Define a light theme
$light-primary-palette: mat.define-palette(mat.$pink-palette);
$light-accent-palette: mat.define-palette(mat.$indigo-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary-palette,
      accent: $light-accent-palette,
      warn: $warn-palette,
    )
  )
);

// Define a dark theme
$dark-primary-palette: mat.define-palette(mat.$pink-palette);
$dark-accent-palette: mat.define-palette(mat.$indigo-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-palette,
      accent: $dark-accent-palette,
      warn: $warn-palette,
    )
  )
);
