@use "@angular/material" as mat;

@include mat.core();

$ng-starter-typography: mat.define-typography-config(
  $font-family: "Nunito, Roboto, Helvetica Neue, sans-serif",
);

$ng-starter-warn: mat.define-palette(mat.$red-palette);

// Define a light theme
$ng-starter-light-primary: mat.define-palette(mat.$pink-palette);
$ng-starter-light-accent: mat.define-palette(mat.$indigo-palette);
$ng-starter-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $ng-starter-light-primary,
      accent: $ng-starter-light-accent,
      warn: $ng-starter-warn,
    ),
    typography: $ng-starter-typography,
  )
);

// Define a dark theme
$ng-starter-dark-primary: mat.define-palette(mat.$pink-palette);
$ng-starter-dark-accent: mat.define-palette(mat.$indigo-palette);
$ng-starter-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $ng-starter-dark-primary,
      accent: $ng-starter-dark-accent,
      warn: $ng-starter-warn,
    ),
    typography: $ng-starter-typography,
  )
);
