<div class="flex flex-col gap-2">

  <div class="flex gap-2">
    <span class="flex items-center capitalize">info</span>
    <div class="flex gap-2">
      <button ngtw-button color="info">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="info">Solid disabled</button>

      <button ngtw-outline-button color="info">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="info">Outline disabled</button>
    </div>
  </div>

  <div class="flex gap-2">
    <span class="flex items-center capitalize">dark</span>
    <div class="flex gap-2">
      <button ngtw-button color="dark">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="dark">Solid disabled</button>

      <button ngtw-outline-button color="dark">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="dark">Outline disabled</button>
    </div>
  </div>

  <div class="flex gap-2">
    <span class="flex items-center capitalize">failure</span>
    <div class="flex gap-2">
      <button ngtw-button color="failure">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="failure">Solid disabled</button>

      <button ngtw-outline-button color="failure">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="failure">Outline disabled</button>
    </div>
  </div>

  <div class="flex gap-2">
    <span class="flex items-center capitalize">gray</span>
    <div class="flex gap-2">
      <button ngtw-button color="gray">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="gray">Solid disabled</button>

      <button ngtw-outline-button color="gray">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="gray">Outline disabled</button>
    </div>
  </div>

  <div class="flex gap-2">
    <span class="flex items-center capitalize">light</span>
    <div class="flex gap-2">
      <button ngtw-button color="light">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="light">Solid disabled</button>

      <button ngtw-outline-button color="light">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="light">Outline disabled</button>
    </div>
  </div>

  <div class="flex gap-2">
    <span class="flex items-center capitalize">purple</span>
    <div class="flex gap-2">
      <button ngtw-button color="purple">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="purple">Solid disabled</button>

      <button ngtw-outline-button color="purple">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="purple">Outline disabled</button>
    </div>
  </div>

  <div class="flex gap-2">
    <span class="flex items-center capitalize">success</span>
    <div class="flex gap-2">
      <button ngtw-button color="success">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="success">Solid disabled</button>

      <button ngtw-outline-button color="success">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="success">Outline disabled</button>
    </div>
  </div>

  <div class="flex gap-2">
    <span class="flex items-center capitalize">warning</span>
    <div class="flex gap-2">
      <button ngtw-button color="warning">Solid enabled</button>
      <button ngtw-button [disabled]="true" color="warning">Solid disabled</button>

      <button ngtw-outline-button color="warning">Outline enabled</button>
      <button ngtw-outline-button [disabled]="true" color="warning">Outline disabled</button>
    </div>
  </div>

</div>
