<aside class="flex flex-col items-center justify-between gap-4 h-full p-0 sm:p-4 bg-gray-900 w-0 transition-all text-gray-500 resize-x"
       [class.sm:w-20]="isSmall"
       [class.sm:w-72]="isLarge">
  <div class="hidden sm:flex justify-between items-center w-full">
    <a class="flex items-center w-full" routerLink="/">
      <img class="h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=500" alt="Your Company">
    </a>
  </div>

  <div class="hidden sm:flex flex-col justify-start items-start gap-2 w-full h-full">
    <a class="flex items-center justify-start gap-3 w-full h-10 px-3 rounded hover:bg-gray-800 hover:text-gray-300"
       *ngFor="let nav of navigation"
       [routerLink]="nav.path"
       routerLinkActive="bg-gray-800 text-gray-300">
      <lucide-icon [name]="nav.icon"></lucide-icon>
      <span *ngIf="isLarge">{{nav.label | translate}}</span>
    </a>
  </div>

  <nav class="hidden sm:flex flex-col justify-end items-start gap-2 w-full">
    <div class="flex justify-between items-center gap-2 w-full"
         [class.flex-col]="isSmall">
      <a class="flex items-center justify-start gap-3 w-full h-10 px-3 rounded hover:bg-gray-800 hover:text-gray-300"
         routerLink="/settings"
         routerLinkActive="bg-gray-800 text-gray-300">

        <lucide-icon name="settings2"></lucide-icon>
        <span *ngIf="isLarge">{{'ng-starter.settings.title' | translate}}</span>
      </a>

      <button class="bg-gray-900 hover:bg-gray-800 rounded-full inline-flex items-center"
              (click)="onToggleSize()">
        <lucide-icon name="chevrons-left"
                     *ngIf="isLarge; else arrow_right_icon">
        </lucide-icon>

        <ng-template #arrow_right_icon>
          <lucide-icon name="chevrons-right"></lucide-icon>
        </ng-template>
      </button>
    </div>
  </nav>
</aside>
