<ng-container *ngIf="sidebar$ | async as sidebar">
  <ngtw-sidebar>
    <ngtw-sidebar-navigation class="flex grow">
      <ngtw-sidebar-navigation-item *ngFor="let item of navigation"
                                  [link]="item.path">
        <span navigationItemIcon *ngIf="item.icon">
          <ngtw-icon [icon]="item.icon"></ngtw-icon>
        </span>
        <span>{{item.label | translate}}</span>
      </ngtw-sidebar-navigation-item>
    </ngtw-sidebar-navigation>

    <ngtw-sidebar-navigation>
      <ngtw-sidebar-navigation-item [link]="'/settings'">
        <span navigationItemIcon>
          <ngtw-icon icon="settings"></ngtw-icon>
        </span>
        <span>{{'ng-starter.navigation.settings' | translate}}</span>
      </ngtw-sidebar-navigation-item>
    </ngtw-sidebar-navigation>
  </ngtw-sidebar>

  <div class="flex-1 flex flex-col">
    <header class="flex items-center justify-between gap-4 px-4 py-4 h-16 border border-slate-300 border-dashed rounded">
      Header
    </header>

    <main class="h-screen flex-1 p-4 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>

    <footer class="flex items-center justify-between gap-4 px-4 py-4 h-16 border border-slate-300 border-dashed rounded">
      Footer
    </footer>
  </div>
</ng-container>
