<app-sidebar *ngIf="sidebar$ | async as sidebar"
             [sidebarStyle]="sidebar.style"
             (styleToggle)="onToggleSidebarStyle()">
  <app-nav>
    <app-nav-item *ngFor="let nav of navigation"
                  [routerLink]="nav.path"
                  [label]="nav.label"
                  [icon]="nav.icon"
                  [sidebarStyle]="sidebar.style">
    </app-nav-item>
  </app-nav>
</app-sidebar>

<div class="flex-1 flex flex-col">
  <header class="flex items-center px-6 py-4 bg-gray-200">
    Header
  </header>
  <main class="h-screen flex-1 p-6 overflow-y-auto">
    <router-outlet></router-outlet>
  </main>
  <footer class="px-6 py-4">
    Footer
  </footer>
</div>
