<ngx-loading-bar height="3px"></ngx-loading-bar>

<mat-toolbar color="primary" class="custom-toolbar mat-elevation-z8" fixed>
  <button mat-icon-button
          class="menu-icon"
          (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="heading">
    <a [routerLink]="['/']">{{ 'ng-starter.title' | translate }}</a>
  </span>

  <span class="spacer"></span>

  <ng-container *ngIf="language$ | async as language">
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            [matTooltip]="'ng-starter.settings.change-language' | translate">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let l of languages" (click)="onLanguageSelect(l.value)" [disabled]="language == l.value">
        <span>{{ l.name | translate}}</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="theme$ | async as theme">
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            [matTooltip]="'ng-starter.settings.change-theme' | translate">
      <mat-icon>palette</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let l of themes" (click)="onThemeSelect(l.value)" [disabled]="theme == l.value">
        <span>{{ l.label | translate}}</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="authData$ | async as authData">
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            [matTooltip]="'ng-starter.signin.user' | translate">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onSignOut()">
        <span>{{ 'ng-starter.signin.signout' | translate}}</span>
      </button>
    </mat-menu>
  </ng-container>

  <!-- <span class="branding">
    <a [routerLink]="['/']">
      <img [src]="logo" />
      NG Starter
    </a>
  </span> -->

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               mode="side"
               [opened]="true"
               [disableClose]="true">

    <div class="sidenav">

      <mat-nav-list class="navigation-items">
        <mat-list-item class="navigation-item"
                       routerLinkActive="active"
                       *ngFor="let item of navigation">

          <a mat-button
             [matTooltip]="item.label | translate"
             matTooltipPosition="above"
             class="navigation-item-link"
             [routerLink]="item.path">

            <mat-icon color="primary">{{item.icon}}</mat-icon>
          </a>

        </mat-list-item>
      </mat-nav-list>

      <span class="spacer"></span>

      <mat-nav-list class="navigation-items">
        <mat-list-item class="navigation-item"
                       routerLinkActive="active">

          <a mat-button
             [matTooltip]="'ng-starter.navigation.settings' | translate"
             matTooltipPosition="above"
             class="navigation-item-link"
             routerLink="/settings">
            <mat-icon color="primary">settings</mat-icon>
          </a>

        </mat-list-item>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <section class="container">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
