<section class="content">
  <mat-card appearance="outlined">
    <mat-card-title>{{'ng-starter.signin.signin' | translate}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput [placeholder]="'ng-starter.signin.username' | translate" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput [placeholder]="'ng-starter.signin.password' | translate" formControlName="password">
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button mat-raised-button color="primary" type="submit">{{'ng-starter.signin.submit' | translate}}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</section>

<section class="tools-section">

  <section class="tools-content">

    <ng-container *ngIf="language$ | async as language">
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              [matTooltip]="'ng-starter.settings.change-language' | translate">
        <mat-icon class="color-primary">language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let l of languages" (click)="onLanguageSelect(l.value)" [disabled]="language == l.value">
          <span>{{ l.label | translate}}</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-container *ngIf="theme$ | async as theme">
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              [matTooltip]="'ng-starter.settings.change-theme' | translate">
        <mat-icon class="color-primary">palette</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let l of themes" (click)="onThemeSelect(l.value)" [disabled]="theme == l.value">
          <span>{{ l.label | translate}}</span>
        </button>
      </mat-menu>
    </ng-container>

  </section>

</section>
