// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "./assets/scss/themes";
@import "./assets/scss/toolbar";
@import "./assets/scss/sidenav";
@import "./assets/scss/utilities";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin app-components-theme($theme) {
  @include app-toolbar($theme);
  @include app-sidenav($theme);
  @include app-utils($theme);
}

@include mat.all-component-themes($ng-returns-light-theme);
@include app-components-theme($ng-returns-light-theme);

.dark-theme {
  @include mat.all-component-themes($ng-returns-dark-theme);
  @include app-components-theme($ng-returns-dark-theme);
}

.spacer {
  flex: 1 1 auto;
}

.w-100 {
  width: 100%;
}
